/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.wrapper {
	max-width: 90em;
	margin: 0 auto;
}

body {
	background-image: url('../img/bg_pattern_pink.png');
	background-position: center top;
	background-repeat: repeat;
	

  &.page_home #masthead {
    background: none;
    filter: none;
  }

  > main {
    @include grid-container();
  	@include grid-media($medium) {
  		padding-top: 3em;
  	}

  	@include grid-media($large) {
  		padding-top: 5em;
  	}

  	@include grid-media($xlarge) {
  		padding-top: 7em;
  	}

    > article {
      @include grid-column(12);
    	@include grid-media($medium) {
        @include grid-column(12);
    	}
  		text-align: center;
  
  		@include grid-media($medium) {
  			text-align: left;
  
  			h2 {
  				max-width: 16em;
  			}
  	
  			.entry-content {
  				max-width: 51em;
      		padding-bottom: 3em;
  			}
  		}
    }
  }
}