/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.wrapper {
	max-width: 95em;
	margin: 0 auto;
}

.padding {
	padding-left: 1.5em;
	padding-right: 1.5em;
	@include grid-media($large) {
		padding-left: 3.75em;
		padding-right: 3.75em;
	}
}

body {
	background-image: url('../img/bg_pattern_pink.png');
	background-position: center top;
	background-repeat: repeat;
	

/*
  &.page_home #masthead {
    background: none;
    filter: none;
  }
*/

  > main {
    @include grid-container();
		padding-top: 8em;
  	@include grid-media($medium) {
  		padding-top: 12.5em;
  	}

  	@include grid-media($large) {
  		padding-top: 15em;
  	}

  	@include grid-media($xlarge) {
  		padding-top: 20em;
  	}

    > article {
  		text-align: center;
      @include grid-column(12);
    	@include grid-media($medium) {
        @include grid-column(12);
    	}

 			.entry-content {
   			margin-bottom: 3em;
    		@include grid-media($medium) {
     			text-align: left;
    		}

    		@include grid-media($large) {
    			max-width: 80%;
          margin-bottom: 5em;
    		}

    		@include grid-media($xlarge) {
  				max-width: 66%;
    		}
   		}
    }
  }
}